* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f8ff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  color: #000;
}

h1 {
  font-size: 65px;
}
h2 {
  font-size: 50px;
}
h3 {
  font-size: 42px;
}
h4 {
  font-size: 38px;
}
h5 {
  font-size: 24px;
}

h6 {
  font-size: 16px;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #8c8e92;
}

a {
  text-decoration: none;
  color: #777f8b;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  width: 100%;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* buttons */
.btn-primary {
  background-color: #4e47ff;
  color: #ffffff;
  font-weight: 700;
  padding: 14px 36px;
  border-radius: 10px;
  display: inline-block;
  transition: all 0.2s linear;
}

.btn-primary:hover {
  background-color: yellow;
  color: #000;
  transform: scale(1.1);
}

.pt-116 {
  padding-top: 116px;
}

/* header-section */

.header {
  background: url(./Assets/Hero-bg.png) no-repeat center / cover;
}

.nav-section {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}

.banner {
  padding: 158px 0 200px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.banner .btn-primary {
  margin-top: 50px;
}

/* action-section */

.action-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action-section .section-detail {
  margin: 23px 0;
  font-size: 24px;
}

.action-img {
  width: 403px;
  height: 328px;
  border-radius: 48px;
  overflow: hidden;
}

/* user-section  */
.user-section {
  background: #4e47ff1a;
  padding: 50px 80px;
  border-radius: 24px;
  text-align: center;
}

.user-container {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.user-heading {
  font-size: 80px;
  color: #4e47ff;
  font-family: "Inter", sans-serif;
}

input,
textarea {
  width: 100%;
  outline: none;
}
button {
  border: none;
  outline: none;
  cursor: pointer;
}

/* review */

.review-section {
  text-align: center;
}

.review-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 50px;
}

.review-item {
  border: 1px solid #f2eded;
  border-radius: 24px;
  padding: 24px;
  text-align: left;
}

.review-stars {
  display: flex;
  align-items: center;
  gap: 4px;
}

.review-content {
  margin: 24px 0;
}
.review-heading {
  margin-bottom: 8px;
}

.review-author {
  display: flex;
  align-items: center;
  gap: 12px;
}

.author-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

/* template-section */

.section-head {
  text-align: center;
}

.template-section .section-detail {
  margin: 23px 0;
}

.template-img {
  border-radius: 48px;
  overflow: hidden;
  margin-top: 20px;
}

/* mewsletter-section */

.newsletter-section {
  display: flex;
  gap: 100px;
  align-items: center;
}

.newsletter-content {
  flex-basis: 50%;
}

.newsletter-section .section-title {
  font-size: 97px;
}

.newsletter-form {
  flex-basis: 50%;
}
.form-item {
  margin-bottom: 20px;
}

.form-title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 8px;
  display: inline-block;
}
.form-input {
  width: 100%;
  padding: 20px 32px;
  border: 1px solid #f2eded;
  border-radius: 10px;
  color: #8c8e92;
  font-size: 18px;
}

.newsletter-form .btn-primary {
  width: 100%;
}

/* footer-section */
.footer {
  padding: 104px 0;
  background: #ffffff;
}

.footer-logo {
  width: 291px;
  height: 121px;
  margin-bottom: 16px;
}
/* .footer-logo img{
  height: 100%;
  width: 100%;
} */
.footer-section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer-content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer-nav